@font-face {
  font-family: 'yekan-bakh';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/yekan-bakh-regular.eot');
  src: url('../fonts/yekan-bakh-regular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../fonts/yekan-bakh-regular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/yekan-bakh-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'yekan-bakh';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/yekan-bakh-bold.eot');
  src: url('../fonts/yekan-bakh-bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('../fonts/yekan-bakh-bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/yekan-bakh-bold.ttf') format('truetype');
}